{% extends "layout.njk" %}}

{% block styles %}
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/about.css">
{% endblock styles %}

{% block content %}
    <div class="content">

        <div class="text-box">
            <h2>Sobre o Foodfy</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, maiores, veniam assumenda nemo deleniti nihil odit eius voluptate saepe suscipit modi harum illum tempore dolorum recusandae veritatis. Deleniti ipsum doloribus ut modi, optio in molestiae amet vitae quasi aperiam facere delectus voluptate ipsam dolor et!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolores consequuntur officia neque, fugiat possimus quae quasi dolore? Pariatur inventore quisquam veritatis id quia cupiditate, quaerat iusto, doloremque libero totam velit ex consequatur. Asperiores at, sit dolore saepe quis, enim architecto ratione ipsum molestiae tempore facere in consequatur unde suscipit?</p>

            <h3>Como tudo começou...</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam error, tempore, unde praesentium veniam temporibus pariatur eaque iste atque excepturi deserunt vitae possimus consequuntur vel officiis voluptatibus corporis debitis rem nam commodi. Officia, aspernatur? Maiores cumque corrupti laboriosam aspernatur dolorem ducimus nam voluptates consequatur magni commodi itaque deleniti, atque nesciunt, tempore explicabo odio minus. Unde a officia ratione provident est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ea labore explicabo saepe inventore quos laudantium reiciendis pariatur. Accusantium voluptate labore debitis nobis incidunt eius placeat aspernatur iure totam quod, quas assumenda quibusdam. Odit non provident rerum neque ratione consequatur deserunt? Nihil, quibusdam! Amet optio provident, commodi quis maiores aut dolore sapiente non illo nam ea, quaerat error quo architecto? Quia similique iusto in soluta velit nemo reiciendis quidem autem, provident ipsam quam culpa ipsa consectetur, necessitatibus accusamus iste sit.</p>

            <h3>Nossas receitas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aliquam consequatur enim sint iste reprehenderit, illo laboriosam eius officia delectus dolor labore quidem minima fugit eos quod possimus, qui mollitia a libero. Minima molestiae odit quae in placeat aspernatur autem. Dignissimos at perferendis explicabo quia dolor hic libero beatae porro, vel fuga minima recusandae! Repellendus, sint atque dicta labore, cumque animi eos, ex consequatur dolorem dolores iste. Id, quisquam nisi.</p>
        </div>
        
    </div>
{% endblock content %}