.ad {
    height                   : 366px;
    width                    : auto;
    min-width                : 490px;
    background-color         : #FBDFDB;
    border-radius            : 30px;

    margin                   : 0 10% 50px 10%;
    display                  : flex;
}

.ad .text-box {
    margin                   : auto 10%;
    text-align               : left;
}

.ad .text-box h1{
    margin-bottom            : 10px;
}

.ad img {
    height                   : 80%;
    margin                   : 3% 10% auto auto;
}

section.samples {
    text-align               : left;
    margin                   : 0 10%;
}

section.samples h2 {
    margin-bottom            : 20px;
}

.cards {
    display                  : grid;
    grid-template-columns    : 1fr 1fr 1fr;
    gap                      : 20px;
    
}

.card {
    padding                  : 15px;
    text-align               : left;
    border                   : solid 1px transparent;
    border-radius            : 15px;
    cursor                   : pointer;
    transition               : 300ms;
}

.card:hover {
    font-weight              : bold;
    
}

.card .image-description {
    margin-top               : 20px;
    margin-bottom            : 5px;
}

.card .references {
    color                    : #777777;
    font-size                : 14px;
}

.card img {
   width                     : 100%;
   border-radius             : 15px;
}

@media (max-width            : 950px) {
    
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    
}

@media (max-width            : 600px) {
    
    .cards {
        grid-template-columns: 1fr;
    }

    .samples h2{
        text-align           : center;
    }

    div.ad {
        min-width            : 300px;
        height               : 250px;
    }

    div.ad img{
        display              : none;
    }

    header .logo {
        margin-right         : 45px;
    }

    .modal-background .modal {
        width                : 90%;
        
    }
}
