.ad {
    height: 366px;
    width: auto;
    min-width: 490px;
    background-color: #FBDFDB;
    border-radius: 30px;

    margin: 0 10% 50px 10%;
    display: flex;
}

.ad .text-box {
    margin: auto 10%;
    text-align: left;
}

.ad .text-box h1{
    margin-bottom: 10px;
}

.ad img {
    height: 80%;
    margin: 3% 10% auto auto;
}

section.samples {
    text-align: left;
    margin: 0 10%;
}

section.samples h2 {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

.card {
    padding: 15px;
    text-align: left;
    border: solid 1px transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: 300ms;
}

.card:hover {
    font-weight: bold;
    
}

.card .image-description {
    margin-top: 20px;
    margin-bottom: 5px;
}

.card .references {
    color: #777777;
    font-size: 14px;
}

.card img {
   width: 100%;
   border-radius: 15px;
}





/* MODAL */

.modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0; 
    visibility: hidden;
    transition: 400ms;
}

.modal-background .modal {
    background-color: white;
    width: 40%;
    margin: 20vh auto;
    border-radius: 15px;
    position: relative;
}

.modal-background .modal img {
    width: 90%;
    display: flex;
    border-radius: 15px;
    
    position: relative;
    top: 20px;
    left: 5%;
    right: 5%;
    
    
}

.modal-background .modal .modal-text {
    padding: 35px;
    text-align: center;
}

.modal-background .modal .modal-text p{
    color: #777777;
    margin-top: 5px;
}

.modal-background .modal .close-button {
    display: flex;
    align-content: center;
    justify-content: center;
    
    color: #380404;
    background-color: rgb(219, 135, 135);
    border-radius: 0 0 15px 15px;
    height: 40px;

    cursor: pointer;
    
}

.close-button p {
    margin-top: 10px;
}

.close-button p:hover{
    font-weight: bold;
}

.modal-background.active {
    opacity: 1; 
    visibility: visible;
}

.gotorecipe {
    margin-bottom: 40px;
    text-align: center;
}

.gotorecipe a{
    color: black;
    text-decoration: none;
}

.gotorecipe a:hover{
    font-weight: bold;
}

/* responsivity of the food images (cards) */



@media (max-width: 950px) {
    
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    
}

@media (max-width: 600px) {
    
    .cards {
        grid-template-columns: 1fr;
    }

    .samples h2{
        text-align: center;
    }

    div.ad {
        min-width: 300px;
        height: 250px;
    }

    div.ad img{
        display: none;
    }

    header .logo {
        margin-right: 45px;
    }

    .modal-background .modal {
        width: 90%;
        
    }
}